/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*-------------------------------------------------------------*/

body{
  background: rgba(15,10, 60, 0.3);
}

#container{
  background-image: url(/resources/image/city.jpeg);
  background-repeat: round;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  /*padding-top: 12%;*/
}

#headerDiv{
  width: 900px;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 20px ;
  border: 1px solid #4B0082;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
}

#headerPhoto{
  width: 150px;
  height: 150px;
  background: white;
  border: 1px solid #4B0082;
  border-radius: 50%;
  margin-bottom: 20px;
}

#headerCenter{
  width: 500px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#headerName{
  width: auto;
  height: auto;
  margin: auto;
  color: #4B0082;
  font-size: 30px;
  margin-bottom: 20px;
}
#statusLabel{
  color: #4B0082;
  font-size: 20px;
  padding-bottom: 5px;
}
#statusA {
  border-bottom: 1px solid #4B0082;
  margin-top: 10px;
}

#buttonContainer{
  width: 120px;
  height: 40px;
}
#buttonExit{
  width: 110px;
  height: 35px;
  background: #4B0082;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 50px;
}
#buttonExit:hover{
  width: 112px;
  height: 37px;
  padding-top: 9px;
}
#buttonExit:active{
  height: 35px;
  padding-top: 7px;
}

#center{
  width: 900px;
  height: 510px;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  border: 1px solid #4B0082;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  display: flex;
}
#menuCenter{
  width: 250px;
  height: 510px;

  /*border: 1px solid #4B0082;*/
}
#myProfile, #myPhoto, #search, #messages, #guests, #settings{
  width: 250px;
  height: 85px;
  background: #4B0082;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 27px;
  border-top: 1px solid gray;
}
#myProfile{
  border-radius: 0px 30px 0px 0px;
}
#myProfile:hover, #myPhoto:hover, #search:hover, #messages:hover,
#guests:hover, #settings:hover{
  font-size: 22px;
}
#myProfile:active, #myPhoto:active, #search:active, #messages:active,
#guests:active, #settings:active{
  font-size: 20px;
}

#buttons{
  display: flex;
}
#basicButton, #interestsButton, #typeButton, #findInfoButton, #photoButton{
  width: 130px;
  height: 30px;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
  background: #4B0082;
  color: white;
}
#basicButton{
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding-top: 6px;
}
#basicButton:hover, #interestsButton:hover, #typeButton:hover, #findInfoButton:hover,
#photoButton:hover{
  font-size: 21px;
  cursor: pointer;
}

#interestsInfo, #typeInfo, #findInfo, #photoInfo{
  display: none;
  margin-top: 50px;
  margin-left: 50px;
}
#basicInfo{
  margin-top: 50px;
  margin-left: 50px;
}

p {
  color: #4B0082;
  font-size: 25px;
  margin-bottom: 15px;
}
label{
  font-size: 20px;
  color: black;
}
#buttonChangeBasic, #buttonChangeInterests, #buttonChangeType, #buttonChangeFind{
  width: 120px;
  height: 35px;
  background: #4B0082;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: 200px;
  margin-top: 30px;
}
#buttonChangeBasic:hover, #buttonChangeInterests:hover, #buttonChangeType:hover,
#buttonChangeFind:hover{
  width: 122px;
  height: 37px;
  padding-top: 9px;
  cursor: pointer;
}
#buttonChangeBasic:active, #buttonChangeInterests:active, #buttonChangeType:active,
#buttonChangeFind:active{
  width: 120px;
  height: 35px;
  padding-top: 7px;
}

#interestsUserDiv{
  width: 550px;
  height: 250px;
  background: white;
  border-radius: 15px;
  border: 1px solid #4B0082;
}
#rowOne, #rowTwo, #rowThree{
  width: 600px;
  height: auto;
  display: flex;
}
#photoDiv{
  width: 183px;
  height: 180px;
  border: 1px solid #4B0082;
}
#photoOne{
  background-image: url(image/imageOne.jpeg);
}

#basicForma, #interestsForma, #typeForma, #findForma{
  display: none;
}

